---
http_interactions:
- request:
    method: get
    uri: https://dota-leagues.27n.gg/leagues?limit=0&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '16'
      X-Ratelimit-Remaining:
      - '14'
      X-Ratelimit-Reset:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"limit":0,"offset":0,"total":291},"results":[]}

'
  recorded_at: Thu, 27 Aug 2020 23:26:33 GMT
recorded_with: VCR 6.0.0
